NOTION_TOKEN=secret_your_internal_integration_token_here
NOTION_PAGE_ID=your_page_id_here
NOTION_DATABASE_ID=your_database_id_here
NOTION_HOME_ID=optional_home_page_id_here
NOTION_IMPORT_MODE=single
NOTION_IMPORT_ROOT_PAGE_ID=optional_root_page_id_for_direct_children_import
NOTION_IMPORT_CATEGORY_OVERRIDE=optional_category_override_for_direct_children_import
NOTION_DIRECT_CHILD_MAX_GIF_MB=25
NOTION_MAX_GIF_MB=95
NOTION_FEATURE_IMAGE_MAX_MB=12
