{
	admin off
	auto_https off
}

:5555 {
	bind 127.0.0.1 ::1

	root * /Users/loe/workspace/github/tosemfdk/.deploy/current
	encode zstd gzip
	file_server

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
	}

	log {
		output file /Users/loe/Library/Logs/tosemfdk/access.log {
			roll_size 10MiB
			roll_keep 5
			roll_keep_for 720h
		}
		format console
	}
}
